@using Biskfarm.DAL.Model
@using Biskfarm.Services
@{
    Layout = "~/Views/Shared/_LayoutForms.cshtml";
    //Layout = null;
}

@model List<RDS_SuperProfile>

@* @section userName {

    <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
    </div>
} *@

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                  <h1>RDS SuperProfile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">RDS Super Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "RDSuperProfile")'">Create</button>
            </div>
                <div class="card-header">
                    <h3 class="card-title">RDS Super Profile List</h3>
                </div>
            <div class="card-body">
                <table id="routeSales" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Principal Co.</th>
                            <th>Date Of Entry</th>
                            <th>Proprietor Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var mdl in Model)
                {
                            <tr>
                                <td>@mdl.principalCo</td>
                                <td>@mdl.dateOfEntry</td>
                                <td>@mdl.nameOfProp1</td>
                                <td> <button class="btnView btn-xs btn-warning" onclick="location.href='@Url.Action("View", "RDSuperProfile",new {id=mdl.rdsSuperProfileId})'"><i class="fas fa-edit"></i></button></td>
                            </tr>
                }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Principal Co.</th>
                            <th>Date Of Entry</th>
                            <th>Proprietor Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
        </div>
    </div>
</section>