@{
    Layout = "~/Views/Shared/_LayoutRawData.cshtml";
    //Layout = null;
}


@section pageHeader {

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sub Stockist Sales Database </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sub Stockist Sales Database </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

}

<div class="card" id="rawData">

    <!-- /.card-body -->
</div>


@section Scripts {
    <script>

        $(function () {
            $("#yearDiv").hide();
            $("#monthDiv").hide();
        });

        $("#rsmId").change(function () {

            $('#regionId').empty();
            $.ajax({
                url: '@Url.Action("GetRSMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    RSM_ID: $("#rsmId option:selected").val(),
                },
                success: function (region) {
                    $('#regionId').append('<option value=0>Select Region</option>');

                    $.each(region, function (i, reg) {
                        $('#regionId').append('<option value=' + reg + '>' + reg + '</option>')
                    });

                }
            })
        });

        $("#regionId").change(function () {

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
            }



            $('#stateId').empty();
            $.ajax({
                url: '@Url.Action("GetRegionData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (state) {

                    $('#stateId').append('<option value=all>Select All</option>');
                    $.each(state, function (i, st) {
                        $('#stateId').append('<option value=' + st + '>' + st + '</option>')
                    });
                    // $('#stateId').append('<option value="0" disabled>Select Region</option>');
                }
            })
        });

        $("#stateId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {
                if ($(this).val() != "all") {
                    var objState =
                    {

                        "ZONE_STATE": $(this).text(),


                    };
                    States.push(objState);
                }
            });


            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
            }




            $('#bmId').empty();
            $.ajax({
                url: '@Url.Action("GetStatesData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (bmLst) {

                    $('#bmId').append('<option value=all>Select All</option>');
                    $.each(bmLst, function (i, bm) {
                        //alert(bm.BM_NAME)

                        $('#bmId').append('<option value=' + bm.bM_ID + '>' + bm.bM_NAME + '(' + bm.bM_ID + ')' + '</option>')
                    });

                }
            })
        });

        $("#bmId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {
                if ($(this).val() != "all") {
                    var objState =
                    {
                        "ZONE_STATE": $(this).text(),
                    };
                    States.push(objState);
                }
            });


            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {
                if ($(this).val() != "all") {
                    var objBM =
                    {

                        "BM_ID": $(this).val(),
                        "BM_NAME": $(this).text(),
                    };


                    BM.push(objBM);
                }
            });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs: BM,
            }




            $('#asmId').empty();
            $.ajax({
                url: '@Url.Action("GetBMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (asmLst) {

                    $('#asmId').append('<option value=all>Select All</option>');

                    $.each(asmLst, function (i, asm) {
                        //alert(bm.BM_NAME)

                        $('#asmId').append('<option value=' + asm.asM_ID + '>' + asm.asM_NAME + '(' + asm.asM_ID + ')' + '</option>')
                    });

                }
            })
        });

        $("#asmId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {
                if ($(this).val() != "all") {
                    var objState =
                    {
                        "ZONE_STATE": $(this).text(),
                    };
                    States.push(objState);
                }
            });


            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {
                if ($(this).val() != "all") {
                    var objBM =
                    {

                        "BM_ID": $(this).val(),
                        "BM_NAME": $(this).text(),
                    };


                    BM.push(objBM);
                }
            });

            ASM = []

            var $selectedASM = $("#asmId").find('option:selected');
            $selectedASM.each(function () {
                if ($(this).val() != "all") {
                    var objASM =
                    {

                        "ASM_ID": $(this).val(),
                        "ASM_NAME": $(this).text(),
                    };

                    ASM.push(objASM);
                }
            });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs: BM,
                ASMs: ASM,
            }




            $('#soId').empty();
            $.ajax({
                url: '@Url.Action("GetASMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (soLst) {


                    $('#soId').append('<option value=all>Select All</option>');


                    $.each(soLst, function (i, so) {
                        //alert(bm.BM_NAME)

                        $('#soId').append('<option value=' + so.sO_ID + '>' + so.sO_NAME + '(' + so.sO_ID + ')' + '</option>')
                    });

                }
            })
        });


        $("#soId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {
                if ($(this).val() != "all") {
                    var objState =
                    {
                        "ZONE_STATE": $(this).text(),
                    };
                    States.push(objState);
                }
            });


            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {
                if ($(this).val() != "all") {
                    var objBM =
                    {

                        "BM_ID": $(this).val(),
                        "BM_NAME": $(this).text(),
                    };


                    BM.push(objBM);
                }
            });

            ASM = []

            var $selectedASM = $("#asmId").find('option:selected');
            $selectedASM.each(function () {
                if ($(this).val() != "all") {
                    var objASM =
                    {

                        "ASM_ID": $(this).val(),
                        "ASM_NAME": $(this).text(),
                    };

                    ASM.push(objASM);
                }
            });

            SOVM = []

            var $selectedSO = $("#soId").find('option:selected');
            $selectedSO.each(function () {
                if ($(this).val() != "all") {
                    var objSO =
                    {

                        "SO_ID": $(this).val(),
                        "SO_NAME": $(this).text(),
                    };

                    SOVM.push(objSO);
                }
            });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs: BM,
                ASMs: ASM,
                SOVMs: SOVM,
            }




            $('#rdsId').empty();
            $.ajax({
                url: '@Url.Action("GetSOData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (rdsLst) {
                    //console.log(rdsLst);

                    $('#rdsId').append('<option value=all>Select All</option>');

                    $.each(rdsLst, function (i, rs) {
                        //alert(bm.BM_NAME)

                        $('#rdsId').append('<option value=' + rs.rsD_ID + '>' + rs.rsD_NAME + '(' + rs.rsD_ID + ')' + '</option>')
                    });

                }
            })
        });




        $("#btnGetData").click(function () {

            States = []

            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {
                if ($(this).val() != "all") {
                    var objState =
                    {
                        "ZONE_STATE": $(this).text(),
                    };
                    States.push(objState);
                }
            });

            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {
                if ($(this).val() != "all") {
                    var objBM =
                    {

                        "BM_ID": $(this).val(),
                        "BM_NAME": $(this).text(),
                    };


                    BM.push(objBM);
                }
            });

            ASM = []

            var $selectedASM = $("#asmId").find('option:selected');
            $selectedASM.each(function () {
                if ($(this).val() != "all") {
                    var objASM =
                    {

                        "ASM_ID": $(this).val(),
                        "ASM_NAME": $(this).text(),
                    };

                    ASM.push(objASM);
                }
            });

            SOVM = []

            var $selectedSO = $("#soId").find('option:selected');
            $selectedSO.each(function () {
                if ($(this).val() != "all") {
                    var objSO =
                    {

                        "SO_ID": $(this).val(),
                        "SO_NAME": $(this).text(),
                    };

                    SOVM.push(objSO);
                }
            });

            RSDVM = []

            var $selectedRSD = $("#rdsId").find('option:selected');
            $selectedRSD.each(function () {
                if ($(this).val() != "all") {
                    var objRSD =
                    {

                        "RSD_ID": $(this).val(),
                        "RSD_NAME": $(this).text(),
                    };

                    RSDVM.push(objRSD);
                }
            });
            var dateArray = $("#customRange").val().split('-');
            console.log($("#customRange").val());
            var filterType = "";

            if ($('#filterId :selected').length == 3) {
                filterType = "A";
            }
            else {
                filterType = $("#filterId option:selected").val()
            }

            if ($("#rsmId option:selected").val() == 0) {
                alert("Please Select RSM");
            }
            else if ($("#regionId option:selected").val() == 0) {
                alert("Please Select Region");
            }
            else if (!States.length > 0) {
                alert("Please Select States");
            }
            else if (!BM.length > 0) {
                alert("Please Select BM");
            }
            else if (!ASM.length > 0) {
                alert("Please Select ASM");
            }
            else if (!SOVM.length > 0) {
                alert("Please Select SO");
            }
            else if (!RSDVM.length > 0) {
                alert("Please Select RSD");
            }
            else if (filterType == null) {
                alert("Please Select Filter Type");
            }
            else if ($("#periodId option:selected").val() == 0) {
                alert("Please Select Period Type");
            }
            else if ($("#periodId option:selected").val() == 9 && !$("#customRange").val()) {
                alert("Please set Custom Date Range");
            }
            else if ($("#sourceDataId option:selected").val() == 0) {
                alert("Please Select Source Data Type");
            }
            else {
                $.ajax({

                    type: "POST",
                    url: '@Url.Action("GetRawData", "SubStockiestSalesDatabase")',
                    data: {
                        RSM_ID: $("#rsmId option:selected").val(),
                        RSM_NAME: $("#rsmId option:selected").text(),
                        Region: $("#regionId option:selected").text(),
                        Zone_States: States,
                        BMs: BM,
                        ASMs: ASM,
                        SOVMs: SOVM,
                        RSDVMs: RSDVM,
                        dataSource: $("#sourceDataId option:selected").val(),
                        filterType: filterType,
                        dataType: $("#periodId option:selected").val(),
                        fromDate: dateArray[0],
                        toDate: dateArray[1]
                    },
                    success: function (result) {
                        $("#rawData").html("");
                        $("#rawData").html(result);

                    }
                })
            }

        });



    </script>
}
