
@{
    Layout = "~/Views/Shared/_LayoutRawData.cshtml";
    //Layout = null;
}


@* @using Biskfarm.DAL.Model
@model List<OutletWiseSalesDatabase> *@

@* <section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Outlet Wise Sales Database</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select RSM</label>
                            <select class="form-control select2" style="width: 100%;">
                                @foreach(var rsm in Model)
                                {
                                    <option value="@rsm.RSM_ID">@rsm.RSM_NAME</option>
                                }                               
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Select Region</label>
                            <select class="form-control select2" style="width: 100%;">
                                @foreach(var region in Model)
                                {
                                    <option value="@region.Region">@region.Region</option>
                                }
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                Select State
                            </label>
                            <select class="select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                @foreach(var st in Model)
                                {
                                    <option value="@st.ZONE_STATE">@st.ZONE_STATE</option>
                                }
                                
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Select BM
                            </label>
                            <select class="select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                                @foreach(var bm in Model)
                                {
                                    <option value="@bm.BM_ID">@bm.BM_NAME</option>
                                }
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Select ASM</label>
                            <select class="form-control select2" multiple="multiple" style="width: 100%;">
                                @foreach(var asm in Model)
                                {
                                    <option value="@asm.ASM_ID">@asm.ASM_NAME</option>
                                }
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Select SO</label>
                            <select class="form-control select2" multiple="multiple" style="width: 100%;">
                                @foreach(var so in Model)
                                {
                                    <option value="@so.SO_ID">@so.SO_NAME</option>
                                }
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select RDS</label>
                            <select class="select2" multiple="multiple" data-placeholder="Select RDS" style="width: 100%;">
                                @foreach(var rds in Model)
                                {
                                    <option value="@rds.RDS_ID">@rds.RDS_NAME</option>
                                }
                                
                            </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Select Period</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected" value="0">Select Date</option>
                                <option value="1">Last One Month</option>
                                <option value="3">Last Three Months</option>
                                <option value="6">Last Six Months</option>
                                <option value="9">Custom Date Range</option>
                                </select>
-+                         <!-- /.form-group -->
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Select Filter</label>
                               <select class="form-control select2"  style="width: 100%;">
                                <option value="B">Billed</option>
                                <option value="U">Unbilled</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Source Data</label>
                            <select class="select2"  data-placeholder="Select a Source Data" style="width: 100%;">
                                <option value="0" selected>Select Source Data</option>
                                <option value="D">DMS(CDMS/PURNAM DATA)</option>
                                <option value="S">SFA(Mobile Application)</option>
                            </select>
                        </div>
                        <!-- /.form-group -->
                       
                        <!-- /.form-group -->
                    </div>
                </div>
                <!-- /.row -->
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Outlet Wise Sales Database</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="outSales" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>RSM_NAME</th>
                                <th>RSM_ID</th>
                                <th>BM_NAME</th>
                                <th>BM_ID</th>
                                <th>ASM_NAME</th>
                                <th>ASM_ID</th>
                                <th>SO_NAME</th>
                                <th>SO_ID</th>
                                <th>RDS_NAME</th>
                                <th>RDS_ID</th>
                                <th>ZONE_STATE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var mdl in Model)
                            {
                                <tr>
                                    <td width="5%">@mdl.Region</td>
                                    <td width="10%">@mdl.RSM_NAME</td>
                                    <td width="5%">@mdl.RSM_ID</td>
                                    <td width="10%">@mdl.BM_NAME</td>
                                    <td width="5%">@mdl.BM_ID</td>
                                    <td width="10%">@mdl.ASM_NAME</td>
                                    <td width="5%">@mdl.ASM_ID</td>
                                    <td width="10%">@mdl.SO_NAME</td>
                                    <td width="5%">@mdl.SO_ID</td>
                                    <td width="10%">@mdl.RDS_NAME</td>
                                    <td width="5%">@mdl.RDS_ID</td>
                                    <td width="10%">@mdl.ZONE_STATE</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                    <th>Region</th>
                                    <th>RSM_NAME</th>
                                    <th>RSM_ID</th>
                                    <th>BM_NAME</th>
                                    <th>BM_ID</th>
                                    <th>ASM_NAME</th>
                                    <th>ASM_ID</th>
                                    <th>SO_NAME</th>
                                    <th>SO_ID</th>
                                    <th>RDS_NAME</th>
                                    <th>RDS_ID</th>
                                    <th>ZONE_STATE</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
       
    </div>
    <!-- /.container-fluid -->
</section> *@


@section Scripts {
<script>

        $("#rsmId").change(function () {

            $('#regionId').empty();
            $.ajax({
                url: '@Url.Action("GetRSMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    RSM_ID: $("#rsmId option:selected").val(),
                },
                success: function (region) {


                    $.each(region, function (i, reg) {
                        $('#regionId').append('<option value=' + reg + '>' + reg + '</option>')
                    });

                }
            })
        });

        $("#regionId").change(function () {

            var obj = {
                RSM_NAME:$("#rsmId option:selected").text(),
                RSM_ID:$("#rsmId option:selected").val(),
                Region:$("#regionId option:selected").text(),
            }



            $('#stateId').empty();
            $.ajax({
                url: '@Url.Action("GetRegionData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (state) {

                    
                    $.each(state, function (i, st) {
                        $('#stateId').append('<option value=' + st + '>' + st + '</option>')
                    });
                    $('#stateId').append('<option value="0" disabled>Select Region</option>');
                }
            })
        });

        $("#stateId").change(function () {

                States=[]
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {

                var objState =
                {
                    "ZONE_STATE": $(this).text(),
                };
                States.push(objState);
            });
               

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
            }

            


            $('#bmId').empty();
            $.ajax({
                url: '@Url.Action("GetStatesData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (bmLst) {
                    $.each(bmLst, function (i, bm) {
                        //alert(bm.BM_NAME)

                        $('#bmId').append('<option value=' + bm.bM_ID + '>' + bm.bM_NAME + '</option>')
                    });

                }
            })
        });

        $("#bmId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {

                var objState =
                {
                    "ZONE_STATE": $(this).text(),
                };
                States.push(objState);
            });


                BM=[]

                var $selectedBM = $("#bmId").find('option:selected');
                $selectedBM.each(function () {

                    var objBM =
                    {

                        "BM_ID": $(this).val(),
                        "BM_NAME": $(this).text(),
                    };


                    BM.push(objBM);
                });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs:BM,
            }




            $('#asmId').empty();
            $.ajax({
                url: '@Url.Action("GetBMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (asmLst) {

                    $.each(asmLst, function (i, asm) {
                        //alert(bm.BM_NAME)

                        $('#asmId').append('<option value=' + asm.asM_ID + '>' + asm.asM_NAME + '</option>')
                    });

                }
            })
        });

        $("#asmId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {

                var objState =
                {
                    "ZONE_STATE": $(this).text(),
                };
                States.push(objState);
            });


            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {

                var objBM =
                {

                    "BM_ID": $(this).val(),
                    "BM_NAME": $(this).text(),
                };


                BM.push(objBM);
            });

                ASM = []

                var $selectedASM = $("#asmId").find('option:selected');
                $selectedASM.each(function () {
                    var objASM =
                    {

                        "ASM_ID": $(this).val(),
                        "ASM_NAME": $(this).text(),
                    };

                    ASM.push(objASM);
                });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs: BM,
                ASMs:ASM,
            }




            $('#soId').empty();
            $.ajax({
                url: '@Url.Action("GetASMData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (soLst) {
                    $.each(soLst, function (i, so) {
                        //alert(bm.BM_NAME)

                        $('#soId').append('<option value=' + so.sO_ID + '>' + so.sO_NAME + '</option>')
                    });

                }
            })
        });


        $("#soId").change(function () {

            States = []
            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {

                var objState =
                {
                    "ZONE_STATE": $(this).text(),
                };
                States.push(objState);
            });


            BM = []

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {

                var objBM =
                {

                    "BM_ID": $(this).val(),
                    "BM_NAME": $(this).text(),
                };


                BM.push(objBM);
            });

            ASM = []

            var $selectedASM = $("#asmId").find('option:selected');
            $selectedASM.each(function () {
                var objASM =
                {

                    "ASM_ID": $(this).val(),
                    "ASM_NAME": $(this).text(),
                };

                ASM.push(objASM);
            });

                SOVM = []

                var $selectedSO = $("#soId").find('option:selected');
                $selectedSO.each(function () {
                    var objSO =
                    {

                        "SO_ID": $(this).val(),
                        "SO_NAME": $(this).text(),
                    };

                    SOVM.push(objSO);
                });

            var obj = {
                RSM_NAME: $("#rsmId option:selected").text(),
                RSM_ID: $("#rsmId option:selected").val(),
                Region: $("#regionId option:selected").text(),
                Zone_States: States,
                BMs: BM,
                ASMs: ASM,
                SOVMs:SOVM,
            }




            $('#rdsId').empty();
            $.ajax({
                url: '@Url.Action("GetSOData", "OutletWiseSalesDatabase")',
                type: "POST",
                data: {
                    vm: obj,
                },
                success: function (rdsLst) {
                    console.log(rdsLst);

                    $.each(rdsLst, function (i, rs) {
                        //alert(bm.BM_NAME)

                        $('#rdsId').append('<option value=' + rs.rsD_ID + '>' + rs.rsD_NAME + '</option>')
                    });

                }
            })
        });


        $("#periodId").change(function () {

            var v = $("#periodId").val();
            if (v == 9) {
                $('#customDateDiv').show();
            }
            else
            {
                $('#customDateDiv').hide();
            }
        });

        $("#btnGetData").click(function () {
            
            States=[]

            var $selectedStates = $("#stateId").find('option:selected');
            $selectedStates.each(function () {

                var objState =
                {
                    "ZONE_STATE": $(this).text(),
                };
                States.push(objState);
            });

            BM=[]

            var $selectedBM = $("#bmId").find('option:selected');
            $selectedBM.each(function () {

                var objBM =
                {

                    "BM_ID": $(this).val(),
                    "BM_NAME": $(this).text(),
                };


                BM.push(objBM);
            });

            ASM = []

            var $selectedASM = $("#asmId").find('option:selected');
            $selectedASM.each(function () {
                var objASM =
                {

                    "ASM_ID": $(this).val(),
                    "ASM_NAME": $(this).text(),
                };

                ASM.push(objASM);
            });

            SOVM = []

            var $selectedSO = $("#soId").find('option:selected');
            $selectedSO.each(function () {
                var objSO =
                {

                    "SO_ID": $(this).val(),
                    "SO_NAME": $(this).text(),
                };

                SOVM.push(objSO);
            });

            RDS = []

            var $selectedRDS = $("#rdsId").find('option:selected');
            $selectedRDS.each(function () {
                var objRDS =
                {

                    "RSD_ID": $(this).val(),
                    "RSD_NAME": $(this).text(),
                };
                RDS.push(objRDS);
            });
            // console.log(States);
            
            $.ajax({
       
                type:"POST",
                url: '@Url.Action("GetRawData", "OutletWiseSalesDatabase")',
                data: {
                    RSM_ID: $("#rsmId option:selected").val(),
                    RSM_NAME: $("#rsmId option:selected").text(),
                    Region: $("#regionId option:selected").text(),
                    Zone_States: States,
                    BMs:BM,
                    ASMs:ASM,
                    SOVMs: SOVM,
                    RSDVMs: RDS, 
                    Region: $("#regionId option:selected").text(),
                    filterType: $("#filterId option:selected").val(),
                    dataType: $("#periodId option:selected").val(),
                },
                success: function (data) {
                   
                    $('#regionId').find('option').remove();
                    // $("#geek-select").find("option").remove().end().append(
                    //     '<option value = "gfg">GeeksForGeeks</option>');
                    // let 

                    // // $.each($('element').data(), function (key, value) {
                    // //     myArray.push({ key: key, value: value });
                    // // });

                    region = [];

                    $(data).each(
                        function (index, item) {

                            if (region.indexOf(item.region) == -1) {
                                region.push(item.region)
                            }
                        }
                    )

                    $(region).each(
                        function (index, item) {

                            $('#regionId').append('<option value=' + item + '>' + item + '</option>')

                        }
                    )
                    // console.log(region);
                }
            })
        });

        
   
</script>
}